<!DOCTYPE html>
{% extends 'resource/base.html' %}
<head>
    <meta charset="UTF-8">
    {% block style %}
    <title>Home Page</title>
    {% endblock %}
</head>
<body>
    {% block nav %}
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <h4>Hello {{uname}}</h4>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
    {% endblock %}
    {% block body %}
    <div class="jumbotron">
        {{msg}}
        <h2>Please Enter the Details:</h2>
        <form method="post" action="">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" name="submit" value="Add">
        </form>
    </div>
    {% endblock %}

</body>
</html>