<tr>
    <th><label for="id_first_name">First name:</label></th>
    <td><ul class="errorlist"><li>This field is required.</li></ul>
        <input type="text" name="first_name" maxlength="50" required id="id_first_name">
    </td>
</tr>
<tr>
    <th><label for="id_last_name">Last name:</label></th>
    <td><ul class="errorlist"><li>This field is required.</li></ul>
        <input type="text" name="last_name" maxlength="50" required id="id_last_name">
    </td>
</tr>
<tr><th><label for="id_employee_id">Employee id:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="employee_id" maxlength="10" required i
d="id_employee_id"></td></tr>
<tr><th><label for="id_email_id">Email id:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="email" name="email_id" maxlength="254" required id="id_e
mail_id"></td></tr>
<tr><th><label for="id_project_name">Project name:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="project_name" maxlength="30" require
d id="id_project_name"></td></tr>
<tr><th><label for="id_team_name">Team name:</label></th><td><ul class="errorlist"><li>This field is required.</li></ul><input type="text" name="te
team_name"></td></tr>
